html {
    scroll-behavior: smooth;
}

nav a{
    color: black;
    text-decoration: none;
}
.un::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}
.un{
    position: relative;
}


.deux::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.deux{
    position: relative;
}



.trois::after{
    content: "";
    display: block;
    position: absolute;
    width:100%;
    height: 2px;
    background-color: #000;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}
.trois{
    position: relative;
}


.quatre::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.quatre{
    position: relative;
}


nav a:hover{
    color: black;
}

nav a:hover::after{
    transform: scale(1);
}


nav {
    min-height: 7vh;
    display: flex;
    align-items: center;
    margin: auto;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 15;
}

nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;

}

.FlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    background: rgb(237,139,40);
    background: linear-gradient(1deg, rgba(237,139,40,0.8435574913559174) 8%, rgba(45,196,253,0.8351541300113796) 100%);    
    height: auto;
    flex-direction: row;
    padding-top: 5%;
}

h2{
    color: white;
    text-decoration: underline;
    font-family: verdana, sans-serif;
    font-size: italic;
    font-weight: bold;
}

.FlexContainer .titre1{
    width: 100%;
    height: auto;
    margin-bottom: 2%;
    margin-left: 1%;
}

.FlexContainer .bulle0{
    border-radius : 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background-image: linear-gradient(to right bottom, #617fac, #6b87b0, #768eb4, #8096b8, #8a9ebc);
    width: 20%;
    height: 250px;
    animation-duration: 13s;
    animation-name: blob-animation0;
    animation-iteration-count: infinite;
}


.bulle0 p{
    position: relative;
    top: 20%;
    width: 70%;
    left: 10%;
    text-align: center;
}

@keyframes blob-animation0{
  0%{
    border-radius: 58% 42% 71% 29% / 40% 60% 40% 60%  ;
  }
  10%{
    border-radius: 43% 57% 63% 37% / 40% 36% 64% 60%  ;
  }

  25%{
    border-radius: 34% 66% 29% 71% / 62% 27% 73% 38%  ;
  }

  50%{
    border-radius: 51% 49% 55% 45% / 37% 57% 43% 63%  ;
  }

  75%{
    border-radius: 60% 40% 72% 28% / 51% 66% 34% 49%  ;
  }
  90%{
    border-radius: 37% 63% 51% 49% / 51% 60% 40% 49% ;
  }
  100%{
    border-radius: 58% 42% 71% 29% / 40% 60% 40% 60% ;
  }
}

.FlexContainer .bulle1{
    border-radius : 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background-image: linear-gradient(to right bottom, #617fac, #6b87b0, #768eb4, #8096b8, #8a9ebc);
    width: 30%;
    height: 400px;
    animation-duration: 13s;
    animation-name: blob-animation1;
    animation-iteration-count: infinite;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 3%;
}


.bulle1 p{
    position: relative;
    top: 20%;
    width: 82%;
    left: 10%;
}

@keyframes blob-animation1{
  0%{
    border-radius: 58% 42% 71% 29% / 40% 60% 40% 60%  ;
  }
  10%{
    border-radius: 43% 57% 63% 37% / 40% 36% 64% 60%  ;
  }

  25%{
    border-radius: 34% 66% 29% 71% / 62% 27% 73% 38%  ;
  }

  50%{
    border-radius: 51% 49% 55% 45% / 37% 57% 43% 63%  ;
  }

  75%{
    border-radius: 60% 40% 72% 28% / 51% 66% 34% 49%  ;
  }
  90%{
    border-radius: 37% 63% 51% 49% / 51% 60% 40% 49% ;
  }
  100%{
    border-radius: 58% 42% 71% 29% / 40% 60% 40% 60% ;
  }
}

.FlexContainer .bulle2{
    border-radius: 66% 34% 60% 40% / 30% 52% 48% 70% ;
    background-image: linear-gradient(to right bottom, #6281af, #6986b0, #718ab1, #788fb2, #7f94b3);    
    width: 40%;
    height: 650px;
    animation-duration: 13s;
    animation-name: blob-animation2;
    animation-iteration-count: infinite;
    margin-left: 5%;
}

.bulle2 p{
    position: relative;
    top: 20%;
    width: 80%;
    left: 10%;
    text-align: center;
}
@keyframes blob-animation2{
  0%{
    border-radius: 58% 42% 71% 29% / 40% 60% 40% 60%  ;
  }
  10%{
    border-radius: 43% 57% 63% 37% / 40% 36% 64% 60%  ;
  }

  25%{
    border-radius: 34% 66% 29% 71% / 62% 27% 73% 38%  ;
  }

  50%{
    border-radius: 51% 49% 55% 45% / 37% 57% 43% 63%  ;
  }

  75%{
    border-radius: 60% 40% 72% 28% / 51% 66% 34% 49%  ;
  }
  90%{
    border-radius: 37% 63% 51% 49% / 51% 60% 40% 49% ;
  }
  100%{
    border-radius: 58% 42% 71% 29% / 40% 60% 40% 60% ;
  }
}

.FlexContainer .bulle3{
    border-radius : 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background-image: linear-gradient(to right bottom, #6d89b3, #728eb8, #7794be, #7d99c3, #829fc9);
    width: 40%;
    height: 550px;
    animation-duration: 13s;
    animation-name: blob-animation3;
    animation-iteration-count: infinite;
    margin-left: 10%;
    margin-top: 20%;
}


.bulle3 p{
    position: relative;
    top: 25%;
    width: 80%;
    left: 10%;
}

/*animation bulle*/
@keyframes blob-animation3{
  0%{
    border-radius: 58% 42% 71% 29% / 40% 60% 40% 60%  ;
  }
  10%{
    border-radius: 43% 57% 63% 37% / 40% 36% 64% 60%  ;
  }

  25%{
    border-radius: 34% 66% 29% 71% / 62% 27% 73% 38%  ;
  }

  50%{
    border-radius: 51% 49% 55% 45% / 37% 57% 43% 63%  ;
  }

  75%{
    border-radius: 60% 40% 72% 28% / 51% 66% 34% 49%  ;
  }
  90%{
    border-radius: 37% 63% 51% 49% / 51% 60% 40% 49% ;
  }
  100%{
    border-radius: 58% 42% 71% 29% / 40% 60% 40% 60% ;
  }
}
 

.FlexContainer .titre2{
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-left: 1%;
}

/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 112.5%;
  line-height: 2em;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
    width: 100%;
    padding: 4em 0 1em 0;
}

.timeline li {
    padding: 2em 0;
}

.direction-l,
.direction-r {
    float: none;
    width: 100%;

    text-align: center;
}

.flag-wrapper {
    text-align: center;
}

.flag {
    background: rgb(255,255,255);
    z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
    left: 50%;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255,80,80);
    z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255,255,255);
    border-width: 8px;
    pointer-events: none;
}

.time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
}

.direction-l .time-wrapper {
    float: none;
}

.direction-r .time-wrapper {
    float: none;
}

.desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245,245,245);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    box-shadow: 0 0 1px rgba(0,0,0,0.20);
    
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    
  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
    margin: 1em 4em 0 4em;
}

}

.FlexContainer .semiv{
    width: 90%;
    height: auto;
    margin-top: 5%;
    /*background-color: #165561;*/
    border: 2px solid #008aff;
    color: white;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.semiv p{
    position: relative;
    top: 25%;
    text-align: center;
    color: #333333;
}

.swiper {
      width: 60%;
      height: 350px;
     margin-top: 1%;
     margin-bottom: 3%;
     border-radius: 5px;
}

.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
}

.swiper-slide img {
      display: block;
      object-fit: cover;
      background-size: cover;
      width: 100%;
}

.FlexContainer .projet_portfolio{
    width: 30%;
    height: auto;
    margin-top: 5%;
    background-color: #de7c7c;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    margin-left: 1%;
}

.projet_portfolio p{
    position: relative;
    text-align: center;
    margin-top: 2%;
    width: 60%;
    margin-left: 20%;
}

.FlexContainer .projet_zoo{
    width: 30%;
    height: auto;
    margin-top: 7%;
    background-color: #e67e30;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    margin-left: 1%;
}

.projet_zoo p{
    position: relative;
    text-align: center;
    margin-top: 5%;
    width: 70%;
    margin-left: 17%;
}

.FlexContainer .projet_gantt{
    width: 30%;
    height: auto;
    margin-top: 5%;
    background-color: #5c159b;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    margin-left: 1%;
}

.projet_gantt p{
    position: relative;
    text-align: center;
    margin-top: 5%;
    width: 70%;
    margin-left: 17%;
    color: white;
}

.FlexContainer .projet_VVA{
    width: 30%;
    padding-right: 3%;
    padding-left: 3%;
    height: auto;
    margin-top: 2%;
    background-color: #212529;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    margin-left: 1%;
}

.projet_VVA p{
    position: relative;
    text-align: center;
    margin-top: 5%;
    width: 70%;
    margin-left: 17%;
    color: #989a9c;
}

.FlexContainer .projet_match{
    width: 30%;
    height: auto;
    padding-bottom: 5%;
    margin-top: 1%;
    background-image: linear-gradient(to right bottom, #8c8a87, #9f917d, #b29873, #c69e69, #daa45f);    
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    margin-left: 1%;
}

.projet_match p{
    position: relative;
    text-align: center;
    margin-top: 5%;
    width: 70%;
    margin-left: 17%;
    padding-bottom: 5%;
}

.FlexContainer .titre3{
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-left: 1%;
}

.FlexContainer .chatGPT{
    clip-path: circle(50% at 50% 50%);
    margin-left: 1%;
    width: 70%;
    height: 500px;
    margin-top: 2%;
    border: 3px solid #ff4c00;
}

.chatGPT p{
    position: relative;
    top: 25%;
    text-align: center;
}

.FlexContainer .titre4{
    width: 100%;
    height: auto;
    margin-top: 2%;
    margin-left: 1%;
}

.FlexContainer .citation{
    width: 100%;
    height: auto;
    margin-top: 2%;
    background: rgb(250,183,107);
    background: linear-gradient(90deg, rgba(250,183,107,1) 0%, rgba(255,154,45,0.9415967070421919) 50%, rgba(250,183,107,0.9331933456976541) 100%);      
    text-align: center;
}